/* Dropdowns */
.dropDownWrapper {
    margin-top: 0.8rem;
    padding-inline: 1px;
    padding-block: 0px;
    background: none;
    box-shadow: none;
    height: min-content;
    /* border: 1px solid var(--border); */
}

.dropDownWrapper > select {
    width: 100%;
    max-width: max-content;
    padding: 0.625rem 1.25rem;
    border-radius: 0.5rem;
    background-color: var(--input-bg);
    color: white;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    white-space: nowrap;
    transition: all 0.2s;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-chevron-down'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M6 9l6 6l6 -6' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    padding-right: 2.5rem;
}

.dropDownWrapper > select:hover {
    color: white;
    background-color: var(--primary-hover);
}
.dropDownWrapper > select:focus {
    outline: 2px solid white;
    outline-offset: 2px;
}